$primary: #e7eb00;
$secondary: #c0c0c0;
$font-color: #444444;
$surface: #ffffff;
$surface-100: #f6f8fc;
$surface-200: #e9ecef;
$on-surface: #000000;
$on-surface-100: #6c757d;
$on-surface-200: #495057;
$border: #e0e0e0;
$input-border: #e0e0e0;
$input-border-focus: $primary;
$invalid: #dc3545;
$success: #28a745;
$warning: #ffc107;
$info: #17a2b8;
$error: #dc3545;
$dark-gray: #505253;